@media(max-width:1200px) {
    .container {
        max-width: 960px;
    }

    .disc__about {
        flex-direction: column;
    }

    .footer {
        width: 100%;
    }

    .info {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .footer__logo {
        width: 90%;
        height: 90%;
        transform: scale(0.8);
        margin-right: auto;
    }

    .footer .container {
        display: flex;
        align-items: flex-end;
    }

    .footer__info {
        margin-left: 10px;
    }

    .footer__number {
        margin-left: 10px;
    }
}

@media(max-width:992px) {
    .container {
        max-width: 720px;
    }

    .main__title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main__about {
        display: -webkit-box;
        -webkit-box: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
    }

    .dics {
        width: 100%;
        /* margin-left: 0; */
    }

    .dics__adress {
        width: 100%;
        margin-left: 0;
    }

    .footer__info {
        font-size: 14px;
        line-height: 15px;
    }

    .footer__number {
        font-size: 20px;
        line-height: 25px;
    }
}

@media(max-width:768px) {
    .container {
        max-width: 540px;
    }


    .header__list {
        flex-direction: column;
        row-gap: 10px;
    }

    .header__link {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .dics {
        height: unset;
    }

    .footer .container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .footer__logo {
        width: 60%;
        height: 60%;
        transform: scale(0.7);
        margin-bottom: 26px;
    }

    .footer__number {
        font-size: 18px;
        line-height: 20px;
    }
}

@media(max-width:576px) {
    .container {
        max-width: auto;
    }

    .footer__logo {
        width: 60%;
        height: 60%;
        transform: scale(0.6);
        margin-left: 5px;
        margin-top: 10px;
    }

    .footer__number {
        font-size: 15px;
        line-height: 20px;
    }
}